@model aspnet_edu_center.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Қолданушыны құру";
}

<h1>Қолданушыны құру</h1>

<h4>Қолданушы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<div class="validation" asp-validation-summary="ModelOnly"></div>*@
        @*<form asp-action="CreateUser" method="post">*@
        <form asp-action="CreateUser" asp-controller="Admin" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Аты-жөні</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Құпия сөз</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Құпияя сөзді қайталау</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel_num" class="control-label">Телефон нөмірі</label>
                <input asp-for="Tel_num" class="form-control" />
                <span asp-validation-for="Tel_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role_id" class="control-label">Рөл Id</label>
                <select asp-for="Role_id" class="form-control">
                    <option>Please select one</option>
                    <option value='1'>Администратор</option>
                    <option value='2'>Мұғалім</option>
                    <option value='3'>Студент</option>
                </select>
                <span asp-validation-for="Role_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Құру" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewUsers">Тізімге оралу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
