@model aspnet_edu_center.Models.Group

@{
    ViewData["Title"] = "CreateGroup";
}

<h1>Группа құру</h1>

<h4>Группа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Группаның аты</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group_type" class="control-label">Группаның типі</label>
                <input asp-for="Group_type" class="form-control" />
                <span asp-validation-for="Group_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supervisor_id" class="control-label">Эдвайзер Id</label>
                <input asp-for="Supervisor_id" class="form-control" />
                <span asp-validation-for="Supervisor_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_form" class="control-label">Басталу уақыты</label>
                <input asp-for="date_form" class="form-control" />
                <span asp-validation-for="date_form" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_to" class="control-label">Аяқталу уақыты</label>
                <input asp-for="date_to" class="form-control" />
                <span asp-validation-for="date_to" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Құру" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Тізімге оралу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
