@model aspnet_edu_center.Models.Group_type

@{
    ViewData["Title"] = "Группа типін құру";
}

<h1>Группа типін құру</h1>

<h4>Группа типі</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGroup_type">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Аты</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Құру" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewGroup_types">Тізімге оралу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
