@model aspnet_edu_center.Models.Group_type

@{
    ViewData["Title"] = "DetailsGroup_type";
}

<h1>DetailsGroup_type</h1>

<div>
    <h4>Group_type</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditGroup_type" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ViewGroup_types">Back to List</a>
</div>
