@model aspnet_edu_center.Models.Timetable

@{
    ViewData["Title"] = "Сабақ кестесін өзгерту";
}

<h1>Сабақ кестесін өзгерту</h1>

<h4>Сабақ кестесі</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTimeTableGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="Group_id" class="form-control d-none" value=@ViewBag.Group_id />
            <div class="form-group">
                <label asp-for="Week_day" class="control-label">Апта күні</label>
                @*<input asp-for="Week_day" class="form-control" />*@
                <select asp-for="Week_day" class="form-control">
                    <option value="1">Дүйсенбі</option>
                    <option value="2">Сейсенбі</option>
                    <option value="3">Сәрсенбі</option>
                    <option value="4">Бейсенбі</option>
                    <option value="5">Жұма</option>
                    <option value="6">Сенбі</option>
                    <option value="7">Жексенбі</option>
                </select>
                <span asp-validation-for="Week_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Уақыты</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сақтау" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Тізімге оралу</a>
</div>

