@{
    ViewData["Title"] = "Басты бет";
}

<div class="text-center">
    <h1 class="display-4">Администратор</h1>

    <div class="btn-group rounded" role="group">
        <a class="text-dark btn border" asp-area="" asp-controller="Admin" asp-action="ViewGroup_types">Группа типтері</a>
        <a class="text-dark btn border" asp-area="" asp-controller="Admin" asp-action="ViewGroups">Группалар</a>
        <a class="text-dark btn border" asp-area="" asp-controller="Admin" asp-action="ViewUsers">Қолданушылар</a>
    </div>
</div>