@model IEnumerable<aspnet_edu_center.Models.Group_type>

@{
    ViewData["Title"] = "Группа типтері";
}

<h1>Группа типтері</h1>

<p>
    <a class="text-dark btn btn-primary" asp-area="" asp-controller="Admin" asp-action="CreateGroup_type">Жаңа группа типін қосу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Аты
            </th>
            <th style="width:20%">
                Функциялар
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    <div class="btn-group rounded" role="group">
                        <a class="text-dark btn border" asp-route-id="@item.Id" asp-action="EditGroup_type">Өзгерту</a>
                        <a class="text-dark btn border" asp-route-id="@item.Id" asp-action="DetailsGroup_type">Нақтырақ</a>
                        <a class="text-dark btn border" asp-route-id="@item.Id" asp-action="DeleteGroup_type">Жою</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
