@model aspnet_edu_center.Models.Document

@{
    ViewData["Title"] = "Документті қосу";
}

<h1>Документті қосу</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDocument" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="Group_id" class="control-label"></label>
                <input asp-for="Group_id" class="form-control" value=@ViewBag.Group_id/>
                <span asp-validation-for="Group_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Тақырыбы</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="custom-file mb-3">
                <label asp-for="Url" class="custom-file-label">Файлды таңдау</label>
                <input asp-for="Url" class="custom-file-input" type="file" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Құру" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Тізімге оралу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
