
@{
    ViewData["Title"] = "CreateTest";
}

<h1>CreateTest</h1>

<h4>Tests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTest">
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" />
            </div>
            <div id="questions">

            </div>
            <a href="#" onclick="add_question()">Add question</a>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var qi = 0;
    function add_question() {
        qi += 1;
        var el = document.getElementById("questions");
        var text = "<div id='quest_" + qi + "'>" + qi + ")<input/><a href='#' onclick='add_answer(" + qi + ")'>add answer</a></div>";
        el.innerHTML += text;
    }
    function add_answer(qi) {
        var el = document.getElementById("quest_"+qi);
        var text = "<div><input/></div>";
        el.innerHTML += text;
    }
</script>