@model List<Dictionary<string, object>>

<h1>@ViewData["Title"]</h1>

    <a asp-action="ViewTests" asp-route-id=@ViewBag.Group_id class="btn btn-primary">Tests</a>

    <a asp-action="ViewDocuments" asp-route-id=@ViewBag.Group_id class="btn btn-primary">Documents</a>



    
    @*<form asp-action="AttendanceStudent" asp-controller="Teacher" asp-anti-forgery="true">*@
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Tel_num
                    </th>
                    <th>
                        Attendance
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="DetailsUser" asp-route-id=@item["Id"] asp-route-group_id=@ViewBag.Group_id>@item["Name"]</a>
                        </td>
                        <td>
                            @item["Email"]
                        </td>
                        <td>
                            @item["Tel_num"]
                        </td>
                        <td>
                        @if ((bool)item["Camed"])
                        {
                            <input class="checkbox" type="checkbox" data-id=@item["Id"] checked/>
                        }
                        else
                        {
                            <input class="checkbox" type="checkbox" data-id=@item["Id"]/>
                        }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<input type="submit" />*@
    @*</form>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('.checkbox').change(function() {
            $(this).is(":checked");
           $.ajax({
                type: "POST",
                url: "/Teacher/AttendanceStudent/"+ $(this).data('id')
            });
            function errorFunc(data) {
                alert('error');
            }
        });
    </script>