@{
    ViewData["Title"] = "Басты Бет";
}

<div class="text-center">
    <h1 class="display-4">Мұғалім</h1>
    <div class="btn-group rounded" role="group">
        <a class="text-dark btn border" href="/Teacher/ViewGroups">Группаларды қарау</a>
        <a class="text-dark btn border" href="/Teacher/ViewTimeTable">Сабақ кестесі</a>
    </div>
</div>
