@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Tests";
}

<h1>Тесттер</h1>
    
<p>
    <a asp-action="CreateTest" asp-route-id=@ViewBag.Group_id>Тест құру</a>
</p>
    
    @*<form asp-action="AttendanceStudent" asp-controller="Teacher" asp-anti-forgery="true">*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Тақырыбы
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item["Name"]
                        </td>
                        <td>
                            <div class="btn-group rounded" role="group">
                                <a class="text-dark btn border" asp-action="DeleteTest" asp-route-id="@item["Id"]" asp-route-group_id=@ViewBag.Group_id>Жою</a>
                                <a class="text-dark btn border" asp-action="DetailsTest" asp-route-id="@item["Id"]">Нақтырақ</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<input type="submit" />*@
    @*</form>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('.checkbox').change(function() {
            $(this).is(":checked");
           //alert($(this).is(":checked"));
           //alert("/Teacher/AttendanceStudent/");
           $.ajax({
                type: "POST",
                url: "/Teacher/AttendanceStudent/"+ $(this).data('id')  
                //success: successFunc,
                //error: errorFunc
            });
            function errorFunc(data) {
                alert('error');
            }
        });
    </script>