@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "Группаны қарау";
}

<h1>Группаны қарау</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Группаның аты
            </th>
            <th>
                Группа типі
            </th>
            <th>
                Эдвайзер
            </th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="DetailsGroup" asp-route-id="@item["Id"]" >@item["Name"]</a>
            </td>
            <td>
                @item["Group_type"]
            </td>
            <td>
                @item["Supervisor_id"]
            </td>
        </tr>
}
    </tbody>
</table>
