@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "ViewGroups";
}

<h1>ViewGroup</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Group_type
            </th>
            <th>
                Supervisor_id
            </th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="DetailsGroup" asp-route-id="@item["Id"]" >@item["Name"]</a>
            </td>
            <td>
                @item["Group_type"]
            </td>
            <td>
                @item["Supervisor_id"]
            </td>
        </tr>
}
    </tbody>
</table>
