@model IEnumerable<aspnet_edu_center.Models.Attendance>

@{
    ViewData["Title"] = "ViewAttendance";
}

<h1>ViewAttendance</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Camed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Camed)
            </td>
            <td>
                <input id="checkbox" type="checkbox" />
            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#checkbox').is(":checked"){
        alert($(this).is(":checked"));
    }
</script>
