@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student</h1>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Student/ViewTimetable">View Timetable</a>
        </li>
    </ul>
</div>
