@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Студент</h1>
    <div class="btn-group rounded" role="group">
        <a class="text-dark btn border" href="/Student/ViewTimetable">Сабақ кестесін қарау</a>
    </div>

</div>
