@model List<Dictionary<string, object>>
@{
    ViewData["Title"] = "Келу-келмеу саны";
}

<h1>Келу-келмеу саны</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Келді-келмеді
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item["Camed"] is bool)
                    {
                        <p>Келді</p>
                    }
                    else
                    {
                        <p>Келмеді</p>
                    }
                </td>
                <td>
                    @item["Date"]
                </td>
            </tr>
        }
    </tbody>

</table>