@model List<Dictionary<string, object>>
@{
    ViewData["Title"] = "Бағалар";
}

<h1>Бағалар</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Баға
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item["Grades"]
                </td>
                <td>
                    @item["Date"]
                </td>
            </tr>
        }
    </tbody>

</table>